
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap');

body {
  margin: 0;
  font-family: 'Merienda', cursive;
  background-color: #a7c7e7;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Merienda', cursive;
  background:#e6e6e6;
  color:#000;
  line-height:1.6;
}

/* TITRES en Chivo */
h1, h2, h3 {
  font-family: 'Chivo', sans-serif;
}

header{
  background:#a7c7e7;
  color:#000;
  padding:30px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

header h1{
  font-size:40px;
  letter-spacing:2px;
}

nav{
  background:#2e2e2e;
  display:flex;
  justify-content:center;
  gap:40px;
  padding:15px;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

nav a{
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  font-size:18px;
  transition:0.3s;
}

nav a:hover{
  color:#a7c7e7;
  transform:scale(1.1);
}

section{
  max-width:900px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

h2{
  color:#000;
  margin-bottom:15px;
  border-bottom:3px solid #a7c7e7;
  display:inline-block;
  padding-bottom:5px;
}

h3{
  color:#000;
  margin-top:20px;
  margin-bottom:10px;
}

ul{
  list-style-type:"🏒 ";
  padding-left:25px;
}

li{
  margin:8px 0;
}

img{
  width:100%;
  max-width:500px;
  margin-top:15px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
  display:block;
  align-items: center;
  text-align: center;
}

.hockey-rules{
  background:#e6e6e6;
  padding:25px;
  border-radius:10px;
  border-left:6px solid #a7c7e7;
}

footer {
  margin-top: 40px;
  background: #2e2e2e;
  color: white;
  text-align: left;
  padding: 20px;
  position: relative;
  font-family: 'Merienda', cursive;
}

#backTop {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #a7c7e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#backTop:hover {
  background-color: #a7c7e777;
}

#mise {
  background:#ffe6e6;       
  border-left:6px solid #ff4d4d; 
  padding:25px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  margin-top:30px;
}

#mise h2 {
  color:#b30000;
  border-bottom:3px solid #ff4d4d;
}

#mise p {
  font-weight:bold;
  margin:10px 0;
}

@media(max-width:700px){
  nav{
    flex-direction:column;
    gap:15px;
  }
  
  header h1{
    font-size:28px;
  }
  
  section{
    margin:20px;
  }
}